{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to twitterclone</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" action="/create-tweet" method="post">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-create-form-error">

            </div>
            <input type="hidden" value="/" name="next" id="">
            <textarea required='required' class="form-control" name="content" placeholder="What's happening..."></textarea>
            <button class="btn btn-primary" type="submit">Tweet</button>
        </form>
    </div>
</div>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div class="row" id="root-2"></div>

<div class ='row' id="tweets">
    Replace me
</div>
{% load static %}
<script src="{% static 'javascript/base.js' %}"></script>
{% endblock content %}