{% extends 'base.html' %}

{% block content %}
<h1>Welcome to twitterclone</h1>
<div id="tweets">
    Replace me
</div>
<script>
    const tweetsElement = document.getElementById("tweets"); // gets a html element
    const xhr = new XMLHttpRequest()
    const method = "GET";
    const url = "/tweets";

    function formatTweetElement(tweet) {
        var formatedTweet = "<div class='mb-4'><h2>" + tweet.id + "</h2>" + "<p>" + tweet.content + "<p></div>";
        return formatedTweet;
    };

    const responseType = "json";
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response;
        var finalTweetStr = ""
        var i;
        for (i = 0; i < listedItems.length; i++) {
            var tweetObj = listedItems[i]; 
            var currentItem = formatTweetElement(tweetObj);
            finalTweetStr += currentItem;
        };
        tweetsElement.innerHTML = finalTweetStr;
        console.log(xhr.response);
    };
    xhr.send();
</script>
{% endblock content %}